<div class="container mt-5 pt-5" data-controller="show-more" data-show-more-limit-value="8">
  <h1 class="text-center mb-4">All Games</h1>

  <div class="row justify-content-center" data-show-more-target="list">
    <% @games.each_with_index do |game, index| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex justify-content-center"
          data-show-more-target="item"
          data-index="<%= index %>">
        <div class="card game-category-card text-center"
          data-controller="expand-card"
          data-action="click->expand-card#toggle">
          <div class="card-body">
            <div class="game-image">
              <img src="https://res.cloudinary.com/dqrvcexoy/image/upload/<%= game.cloudinary_public_id %>.jpg" alt="<%= game.title %> Image" class="img-fluid">
            </div>

            <h5 class="card-title"><%= game.title %></h5>
            <p class="card-text text-white mb-1"><strong>Genre:</strong> <%= game.genre %></p>
            <div class="card-text text-white" data-controller="read-more">
              <span data-read-more-target="short">
                <%= truncate(game.description, length: 50, separator: ' ') %>
              </span>
              <span data-read-more-target="full" style="display: none;">
                <%= game.description %>
              </span>
              <% if game.description.length > 50 %>
                <a href="#"
                  data-action="click->read-more#toggle click->expand-card#stopPropagation"
                  class="read-more-link">Read more</a>
              <% end %>
            </div>
          </div>

          <div data-expand-card-target="details" class="card-details">
            <p><strong>Players:</strong> 2-4</p>
            <p><strong>Platform:</strong> PC, Console</p>
            <a href="<%= game_path(game) %>" class="btn btn-primary mt-2">Go to the game page</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-primary"
            data-action="click->show-more#showAll"
            data-show-more-target="showMoreButton">
      Show More
    </button>

    <button class="btn btn-secondary"
            data-action="click->show-more#showLess"
            data-show-more-target="showLessButton"
            style="display: none;">
      Show Less
    </button>
  </div>
</div>
